{% load static %}

<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

</head>

<ons-navigator id="appNavigator" swipeable swipe-target-width="80px">

<ons-page>
    <ons-splitter id="appSplitter">
      <ons-splitter-side id="sidemenu" page="sidemenu.html" swipeable side="right" collapse="" width="260px"></ons-splitter-side>
      <ons-splitter-content page="tabbar.html"></ons-splitter-content>
    </ons-splitter>
  </ons-page>
</ons-navigator>

<template id="tabbar.html">
  <ons-page id="tabbar-page">
    <ons-toolbar>
      <div class="center">getJustice</div>
      <div class="right">
        <ons-toolbar-button onclick="fn.toggleMenu()">
          <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-tabbar swipeable id="appTabbar" position="auto">
      <ons-tab label="Home" icon="ion-home" page="home.html" active></ons-tab>
      <ons-tab label="Report" icon="ion-edit" page="forms.html"></ons-tab>
    </ons-tabbar>

    <script>
      ons.getScriptPage().addEventListener('prechange', function(event) {
        if (event.target.matches('#appTabbar')) {
          event.currentTarget.querySelector('ons-toolbar .center').innerHTML = event.tabItem.getAttribute('label');
        }
      });
    </script>
  </ons-page>
</template>


<template id="home.html">
  <ons-page>
    <p class="intro">
  Where social media meets social activism. 
    </p>

    <ons-card onclick="fn.pushPage({'id': 'pullHook.html', 'title': 'PullHook'})">
      <h1 class="content">See Something, Say Something</h1>
      <div class="content">See a hate crime or police brutality on social media? Don't just retweet or share it with 
  your friends. Send an incident report from your social media page to your local representatives and civil rights organizations that can take action. </div>
    </ons-card>
    <ons-card onclick="fn.pushPage({'id': 'dialogs.html', 'title': 'Dialogs'})">
      <h1 class="content">Stay Woke, Take Notes</h1>
      <div class="content">The easiest way to stay informed about what your representatives are doing so you know exactly who to vote for on election day. </div>
    </ons-card>
    <ons-card onclick="fn.pushPage({'id': 'buttons.html', 'title': 'Buttons'})">
      <h1 class="content">Know Your Rights</h1>
      <div class="content">Knowledge is power. Know your rights so you can exercise your civil liberties to the fullest extent.</div>
    </ons-card>
    <ons-card onclick="fn.pushPage({'id': 'carousel.html', 'title': 'Carousel'})">
      <h1 class="content">Good News</h1>
      <div class="content">Life isn't all bad. Take a peek at some of the good happening in the community. #KeepYaHeadUp</div>
    </ons-card>


    <style>
      .intro {
        text-align: center;
        padding: 0 20px;
        margin-top: 40px;
      }

      ons-card {
        cursor: pointer;
        color: #333;
      }

      .card__title,
      .card--material__title {
        font-size: 25px;
      }
      }
    </style>
  </ons-page>
</template>

<template id="forms.html">
  <ons-page id="forms-page">
      <ons-list>
      <ons-list-header>Type of Report</ons-list-header>
      <ons-list-item>


            <ons-button modifier="outline" class="button-margin" id="hate-crime-button" type="button" class="subject-button form-btn btn-lg" data-type="Hate Crime">Hate Crime</ons-button>

            <ons-button modifier="outline" class="button-margin" id="police-brut-button" class="subject-button form-btn btn-lg" data-type="Police Brutality">Police Brutality</span></ons-button>
        </ons-list-item>


        <ons-list-header>Incognito</ons-list-header>
        <ons-list-item>
          <label class="center" for="switch1">
            Remain Anonymous?<span id="switch-status"></span>
          </label>
          <div class="right">
            <ons-switch id="model-switch" input-id="switch1" checked="true"></ons-switch>
          </div>
        </ons-list-item>

      
      <ons-list-header>Name and Email (optional)</ons-list-header>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="md-face" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Name"></ons-input>
      </label>
      </ons-list-item>
      <ons-list-item class="input-items">
        <div class="left">
          <ons-icon icon="fa-envelope" class="list-item__icon"></ons-icon>
        </div>
        <label class="center">
        <ons-input id="name-input" float maxlength="20" placeholder="Email"></ons-input>
      </label>
      </ons-list-item>
      <ons-list-item>
        <div class="right right-label">
          <span id="name-display">Hello anonymous!</span>
          <ons-icon icon="fa-smile-beam" size="lg" class="right-icon"></ons-icon>
        </div>
      </ons-list-item>

        <ons-list-header>Who would you like to send your report to? <span id="checkboxes-header"></span></ons-list-header>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="aclu-button" class=" checkbox-color email-button civ-rights form-btn btn-sm" data-type="aclupreferences@aclu.org" input-id="checkbox-2" value="aclupreferences@aclu.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-5">
            Department of Justice
          </label>
        </ons-list-item>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox class="checkbox-color" input-id="checkbox-0" id="spcl-button" class="email-button hate-crime form-btn btn-sm" data-type="fotc@splcenter.org" value="fotc@splcenter.org"></ons-checkbox>
          </label>
          <label class="center" for="checkbox-0">
            Southern Poverty Law Center
          </label>
        </ons-list-item>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="naacp-button" class=" checkbox-color email-button civ-rights form-btn btn-sm" data-type="info@naacpnc.org"input-id="checkbox-1" value="info@naacpnc.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-1">
            National Association for the Advancement of Colored People (NAACP)
          </label>
        </ons-list-item>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="aclu-button" class=" checkbox-color email-button civ-rights form-btn btn-sm" data-type="aclupreferences@aclu.org" input-id="checkbox-2" value="aclupreferences@aclu.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-2">
            American Civil Liberties Union (ACLU)
          </label>
        </ons-list-item>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="aclu-button" id="scsj-button" class=" checkbox-color email-button police-brut form-btn btn-sm" data-type="info@southerncoalition.org" input-id="checkbox-2" value="info@southerncoalition.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-3">
            Southern Coalition for Social Justice
          </label>
        </ons-list-item>
        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="aclu-button" class=" checkbox-color email-button civ-rights form-btn btn-sm" data-type="aclupreferences@aclu.org" input-id="checkbox-2" value="aclupreferences@aclu.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-4">
            American Civil Liberties Union (ACLU)
          </label>
        </ons-list-item>

        <ons-list-item tappable>
          <label class="left">
            <ons-checkbox id="local-media-button" class=" checkbox-color email-button police-brut form-btn btn-sm" data-type="editors@indyweek.com" input-id="checkbox-2" value="aclupreferences@aclu.org" ></ons-checkbox>
          </label>
          <label class="center" for="checkbox-6">
            Media/News
          </label>
        </ons-list-item>

            <!-- ***report form*** -->
            <ons-list-header>Details about the hate crime or police brutality</ons-list-header>
            <ons-list-item>
            <form action="{% url 'home' %}" id="report-form" method="POST" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %} 
                <div class="form-group">
                    <input type="hidden" name="send_to" class="form-control" id="email-address" maxlength="500" placeholder="Email Recipients" required >
                </div>
                <div class="form-group">
                    <input type="hidden" name="reply_to" class="form-control" id="cc-address" value="{{ request.user.email }}" maxlength="500" placeholder="my email address" readonly>
                </div>
                <div class="form-group">
                    <div class="left">
                    </div>
                </div>
                <div class="form-group">


                  <ons-list-item class="input-items">
                    <div class="left">
                      <ons-icon icon="fa-pen" class="  list-item__icon"></ons-icon>
                    </div>
                    <label class="center">
   
                    <textarea  class="emailtext form-control" name="message" id="email-body" maxlength="5000"  placeholder="Additional details about the incident(optional)" required>I am a concerned citizen who wishes to raise this issue of civil injustice that I have become aware of. I request you to take up this matter seriously and hope that my concerns, as well as those of others involved in this matter of public importance, will be addressed by you at the earliest.  I have included below an image with more information about the incident.

                    Sincerely,
                    getJustice user
                    </textarea>
                </div>  
                                       <br>

            <div>
            <div class="left">
            <ons-icon icon="fa-image" class="  list-item__icon"></ons-icon>
            <ons-input type="file"  name="image">
                      </div>
                       <br>
                    <label class="center">
            <div class="left">
           

            <ons-icon icon="fa-paper-plane" class="  list-item__icon"></ons-icon>
                    <ons-button type="submit" class="btn btn-success">Submit</ons-button>
             <ons-list-item class="input-items">
                      </div>
                    <label class="center">
            </div>

            </form>   
            </div>
        </div>
    </div>
</div>


    <script>
      ons.getScriptPage().onInit = function () {
        if (ons.platform.isAndroid()) {
          const inputItems = document.querySelectorAll('.input-items');
          for (i = 0; i < inputItems.length; i++) {
            inputItems[i].hasAttribute('modifier') ?
              inputItems[i].setAttribute('modifier', inputItems[i].getAttribute('modifier') + ' nodivider') :
              inputItems[i].setAttribute('modifier', 'nodivider');
          }
        }
        var nameInput = document.getElementById('name-input');
        var searchInput = document.getElementById('search-input');
        var updateInputs = function (event) {
          nameInput.value = event.target.value;
          searchInput.value = event.target.value;
          document.getElementById('name-display').innerHTML = event.target.value !== '' ? `Hello ${event.target.value}!` : 'Hello anonymous!';
        }
        nameInput.addEventListener('input', updateInputs);
        searchInput.addEventListener('input', updateInputs);
        document.getElementById('model-switch').addEventListener('change', function (event) {
          if (event.value) {
            document.getElementById('switch-status').innerHTML = `&nbsp;(on)`;
            document.getElementById('enabled-label').innerHTML = `Enabled switch`;
            document.getElementById('disabled-switch').disabled = false;
          } else {
            document.getElementById('switch-status').innerHTML = `&nbsp;(off)`;
            document.getElementById('enabled-label').innerHTML = `Disabled switch`;
            document.getElementById('disabled-switch').disabled = true;
          }
        });
        document.getElementById('select-input').addEventListener('change', function (event) {
          document.getElementById('awesome-platform').innerHTML = `${event.target.value}&nbsp;`;
        });
        var currentFruitId = 'radio-1';
        const radios = document.querySelectorAll('.radio-fruit')
        for (var i = 0; i < radios.length; i++) {
          var radio = radios[i];
          radio.addEventListener('change', function (event) {
            if (event.target.id !== currentFruitId) {
              document.getElementById('fruit-love').innerHTML = `I love ${event.target.value}!`;
              document.getElementById(currentFruitId).checked = false;
              currentFruitId = event.target.id;
            }
          })
        }
        var currentColors = [];
        const checkboxes = document.querySelectorAll('.checkbox-color')
        for (var i = 0; i < checkboxes.length; i++) {
          var checkbox = checkboxes[i];
          checkbox.addEventListener('change', function (event) {
            if (!currentColors.includes(event.target.value)) {
              currentColors.push(event.target.value);
            } else {
              var index = currentColors.indexOf(event.target.value);
              currentColors.splice(index, 1);
            }
            document.getElementById('checkboxes-header').innerHTML = currentColors;
          })
        }
        document.getElementById('range-slider').addEventListener('input', function (event) {
          document.getElementById('volume-value').innerHTML = `&nbsp;${event.target.value}`;
          if (event.target.value > 80) {
            document.getElementById('careful-message').style.display = 'inline-block';
          } else {
            document.getElementById('careful-message').style.display = 'none';
          }
        })
      }

      function get(id) {
    object = document.getElementById(id)
    return object
}



let subjectHeader = "Report from getJustice: "

function removeComma(toClean){
    let extraEnd = toClean.value.slice(-2)
    let extraFront = toClean.value.slice(24, 26)
    if (extraEnd === ', ') {
        let newStr = toClean.value.replace(extraEnd, '')
        toClean.value = newStr
        let cleanedStr = toClean.value
        return cleanedStr
    } else if (extraFront === ', ') {
        let newStr = toClean.value.replace(extraFront, '')
        toClean.value = newStr
        let cleanedStr = toClean.value
        return cleanedStr
    }
}


//*** function to remove screenshot ***//

function removeScreenshot() {
    $('#remove-screenshot').on('click', function () {
        $('#new-screenshot').remove()
        $('#no-screenshot').hide()
    });
};


//***  button functions ***/

function toggelButtons() {
    buttons = document.querySelectorAll('.form-btn')
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            if (button.classList.contains('active')) {
                button.classList.remove('active')
            } else {
                button.classList.add('active')
            }

        })

    })
}


function addRemoveHateCrimeAdresses() {
    button = get('hate-crime-button')
    button.addEventListener('click', () => {
        $("#formcollapseLink").collapse("show")
        emails = document.querySelectorAll('.email-button')
        emails.forEach(email => {
            if (email.classList.contains('hate-crime')) {
                email.classList.add('active')
                newEmail = email.getAttribute('data-type')
                addressField = get('email-address')
                if (addressField.value.includes(`${newEmail}, `)) {
                    email.classList.remove('active')
                    current = addressField.value
                    edited = addressField.value.replace(`${newEmail}, `, '')
                    addressField.value = edited
                } else {
                    current = addressField.value
                    addressField.value = `${newEmail}, ${current}`
                }
            }
        })
    })
}


function addRemovePoliceBrutailityAdresses() {
    button = get('police-brut-button')
    button.addEventListener('click', () => {
        $("#formcollapseLink").collapse("show")
        emails = document.querySelectorAll('.email-button')
        emails.forEach(email => {
            if (email.classList.contains('police-brut')) {
                email.classList.add('active')
                newEmail = email.getAttribute('data-type')
                addressField = get('email-address')
                if (addressField.value.includes(`${newEmail}, `)) {
                    email.classList.remove('active')
                    current = addressField.value
                    edited = addressField.value.replace(`${newEmail}, `, '')
                    addressField.value = edited
                } else {
                    current = addressField.value
                    addressField.value = `${newEmail}, ${current}`
                }
            }
        })
    })
}




function addRemoveSubject() {
    buttons = document.querySelectorAll('.subject-button')
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            let subject = button.getAttribute("data-type")
            let subjectField = get('subject')
            if (subjectField.value.includes(`${subject}, `)) {
                let edited = subjectField.value.replace(`${subject}, `, '')
                subjectField.value = edited           
                let toClean = subjectField
                removeComma(toClean)
            } else if (subjectField.value.includes(`${subject}`)) {
                let edited = subjectField.value.replace(`${subject}`, '')
                subjectField.value = edited
                let toClean = subjectField
                removeComma(toClean)
            } else {
                let current = subjectField.value
                subjectField.value = `${current}, ${subject}`
                let toClean = subjectField
                removeComma(toClean)
            }
        })
    })
}


function addRemoveEmailAddress() {
    let buttons = document.querySelectorAll('.email-button')
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            let newAddress = button.getAttribute("data-type")
            let addressField = get('email-address')
            if (addressField.value.includes(`${newAddress},`)) {
                let edited = addressField.value.replace(`${newAddress},`, '')
                addressField.value = edited
            } 
            else {
                let current = addressField.value
                addressField.value = `${newAddress}, ${current}`
            }
        })
    })
}
    </script>

    <style>
      .right-icon {
        margin-left: 10px;
      }

      .button-margin {
        margin: 10px 10;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
      }

      .emailtext {
        width: 25rem;
        height: 15rem;
      }

      .right-label {
        color: #777;
      }
    </style>
  </ons-page>
</template>

</html>
