 <h4> I would like to report a:</h4>
    <br>
   
        <div>
            <button id="hate-crime-button" type="button" class="subject-button form-btn btn-lg" data-type="Hate Crime" data-toggle="collapse" data-target="#form-one-collapseLink" aria-expanded="false" aria-controls="formcollapseLink"><span data-toggle="tooltip"  data-placement="bottom" title="Prejudice-motivated crime, Perpetrator targets a victim because of his or her membership in a certain social group or race.">Hate Crime</button>
            
    
            <button id="police-brut-button" class="subject-button form-btn btn-lg" data-type="Police Brutality" data-toggle="collapse" data-target="#form-two-collapseLink" aria-expanded="false" aria-controls="formcollapseLink"><span data-toggle="tooltip"  data-placement="bottom" title="Wrongful arrests,  Unjustified searches,   Unlawful destruction of evidence,  Excessive force,  Unlawful shootings.">Police Brutality</span></button>
            
    </div>
</div>
<br>
<br>
<br>


<div class="collapse" id="formcollapseLink"> 

                <div class="container text-center">
            
                    <div id="address-wrapper">
                        <br>
                        <h4> Who would you like to send your report to? </h4>
                        <br>

                            <p>Optional: deselect any you would not like to include in your email</p>

                        <div>
                                                
                        
                            <button id="spcl-button" class="email-button hate-crime form-btn btn-sm" data-type="fotc@splcenter.org">SPLCenter</button>
                    
                            <button id="local-media-button" class="email-button police-brut form-btn btn-sm" data-type="editors@indyweek.com, assignmentdesk@wral.com">Media/News</button>
                    
                            <button id="scsj-button" class="email-button police-brut form-btn btn-sm" data-type="info@southerncoalition.org">SCSJ</button>
                        
                            <button id="naacp-button" class="email-button civ-rights form-btn btn-sm" data-type="info@naacpnc.org">NAACP</button>
                            <button id="aclu-button" class="email-button civ-rights form-btn btn-sm" data-type="aclupreferences@aclu.org">ACLU</button>
                        </div>
                    </div> 
                </div>

            <!-- ***report form*** -->
            <div class="container text-center">
            <br>
            <br>
            
            <form action="{% url 'website_report' %}" id="report-form" method="POST" class="form-group" enctype="multipart/form-data">
                    {% csrf_token %} 
                <div class="form-group">
                    <input type="text" name="send_to" class="form-control" id="email-address" maxlength="500" placeholder="Email Recipients" required >
                </div>
                <div class="form-group">
                    <input type="text" name="reply_to" class="form-control" id="cc-address" value="{{ request.user.email }}" maxlength="500" placeholder="my email address" readonly>
                </div>
                <div class="form-group">
                    <input type="text" name="subject" value="Incident Report From getJustice: " class="form-control" id="subject" maxlength="500" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" id="email-body" maxlength="5000" cols="40" rows="5" placeholder="Additional details about the incident(optional)" required>I am a concerned citizen who wishes to raise this issue of civil injustice that I have become aware of. I request you to take up this matter seriously and hope that my concerns, as well as those of others involved in this matter of public importance, will be addressed by you at the earliest.  I have included below an image with more information about the incident.

                    Sincerely,
                    getJustice user
                    </textarea>

                </div>  
            <div>
            <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>     
            </div>
        </div>
    </div>
</div>
